@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important; /* adjust text color if needed */
    transition: background-color 5000s ease-in-out 0s;
  }
}

.font-tuffy{
  font-family: "Tuffy", sans-serif;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  --space: 24px;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 1390px;
  background: white;

}

body.singleproject {
  --content-max-width: 1336px;
}

body.aboutus {
  --content-max-width: 1325px;
  /* --space: 0 !important; */
}


body.singleblog {
  --content-max-width: 1320px;
}

@media (max-width:767px) {
  body {
    --space: 12px
  }
}

.multi_scroll_content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] min(var(--content-max-width),
      100% - var(--space-md) * 1) [content-end] 1fr [full-end];
}

.multi_scroll_content>* {
  grid-column: content;
}

.multi_scroll_content .multi_scroll_content_gallery {
  grid-column: full;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
  grid-template-columns: inherit;
  padding-block-start: var(--gap);
  /* padding-bottom: 60px; */
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

/* @media (min-width: 768px) {
  .multi_scroll_content .multi_scroll_content_gallery {
    padding-bottom: 128px;
  }
} */

@media (max-width: 767px) {
  .multi_scroll_content .multi_scroll_content_gallery {
    padding-left: 0;
  }

  /* .multi_scroll_content .multi_scroll_content_gallery .wrapper::after {
    content: "";
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-padding-end: 4px;
    padding-inline-end: 4px;
  } */
}

.multi_scroll_content .multi_scroll_content_gallery .wrapper {
  grid-column: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  gap: var(--space);
  width: max-content;
  padding-inline-end: var(--space);
}




.swiper-wrapper {
  align-items: center;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 468px 0;
  }

  100% {
    background-position: -468px 0;
  }
}


.loading-shimmer {
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 800px 104px;
  position: relative;
  background: linear-gradient(to right, #171717 7%, #222222 25%, #171717 40%);
}

.loading-shimmer-white {
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 800px 104px;
  position: relative;
  background: linear-gradient(to right, #f6f6f6 8%, #f6f6f6 18%, #f6f6f6 33%);

}


@media (max-width:1024px) {
  .flex-mobile {
    flex: 0 0 40%;
  }

}

@media (max-width:767px) {
  .flex-mobile {
    flex: 0 0 300px;
  }

}

.no-scrollbar::-webkit-scrollbar {
  display: none;

}

.flip-image {
  transform: scaleX(-1);
}

.PhoneInput {
  direction: ltr;
}

.PhoneInputInput {
  background: #F6F6F6;
}

.PhoneInputInput:focus-visible {
  outline: none;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #460D0D;
  position: relative;
  animation: l24 1s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}

.loader:after {
  animation-duration: 4s;
}

@keyframes l24 {
  100% {
    transform: rotate(1turn)
  }
}


.here::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #dbc7b34d;
  backdrop-filter: blur(5px);
  z-index: 1;
}

/* .loading-shimmer {
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 800px 104px;
  position: relative;
  background: linear-gradient(to right, #171717 7%, #222222 25%, #171717 40%);
} */
@keyframes placeHolderShimmer {
  0% {
    background-position: 468px 0;
  }

  100% {
    background-position: -468px 0;
  }
}


.loading-shimmer {
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 800px 104px;
  position: relative;
  background: linear-gradient(to right, #f6f6f6 8%, #f6f6f6 18%, #f6f6f6 33%);

}