@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important; /* adjust text color if needed */
    transition: background-color 5000s ease-in-out 0s;
  }
}

.font-tuffy{
  font-family: "Tuffy", sans-serif;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  --space: 24px;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 1390px;
  background: white;

}

.herosection::before,.herosection::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10

}

.herosection::before{
  background: linear-gradient(168.8deg, rgba(0, 0, 0, 0) 74.07%, #000000 91.74%);
}

.herosection::after{
  background:rgba(0, 0, 0, 50%);
}